In [15]:
%matplotlib notebook

In [16]:
# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [60]:
#read CSV File
zev_sales_csv = pd.read_csv("Resources/ZEV_Sales_CSV.csv").set_index('Data Year')
zev_sales_csv

,County,FUEL_TYPE,MAKE,MODEL,Number of Vehicles
Data Year,,,,,
1998,Los Angeles,Electric,Ford,Ranger,1
1998,Orange,Electric,Ford,Ranger,1
1998,San Bernardino,Electric,Ford,Ranger,2
1998,San Mateo,Electric,Ford,Ranger,1
1999,Santa Barbara,Electric,Ford,Ranger,1
...,...,...,...,...,...
2023,Yuba,PHEV,Hyundai,Tucson PHEV,1
2023,Yuba,PHEV,Jeep,Wrangler,1
2023,Yuba,PHEV,Mitsubishi,Outlander PHEV,1
2023,Yuba,PHEV,Toyota,Prius Prime,1
2023,Yuba,Hydrogen,Toyota,Mirai,1

In [61]:
# 2019- 2023 sales
recent_zev_sales = zev_sales_csv.loc[[2019,2020,2021,2023],:]
recent_zev_sales.head()

            County FUEL_TYPE       MAKE    MODEL  Number of Vehicles
Data Year
2019       Alameda  Electric       Audi   e-tron                  74
2019       Alameda  Electric        BMW       i3                 112
2019       Alameda  Electric  Chevrolet  Bolt EV                1047
2019       Alameda  Electric       FIAT     500e                  31
2019       Alameda  Electric       Ford    Focus                   2

In [62]:
# 2014-2018 sales
older_zev_sales = zev_sales_csv.loc[[2015,2016,2017,2018],:]
older_zev_sales.head()

            County FUEL_TYPE       MAKE     MODEL  Number of Vehicles
Data Year
2015       Alameda  Electric        BMW        i3                 109
2015       Alameda  Electric  Chevrolet  Spark EV                 181
2015       Alameda  Electric       FIAT      500e                 924
2015       Alameda  Electric       Ford     Focus                  92
2015       Alameda  Electric        Kia   Soul EV                  59

In [63]:
even_older_zev_sales = zev_sales_csv.loc[[2011,2012,2013,2014],:]
even_older_zev_sales

            County FUEL_TYPE       MAKE          MODEL  Number of Vehicles
Data Year
2011       Alameda  Electric     Nissan           Leaf                 369
2011       Alameda  Electric      Tesla       Roadster                   4
2011       Alameda      PHEV  Chevrolet           Volt                  79
2011        Amador  Electric     Nissan           Leaf                   4
2011        Amador      PHEV  Chevrolet           Volt                   2
...            ...       ...        ...            ...                 ...
2014          Yuba      PHEV        BMW         i3 REx                   1
2014          Yuba      PHEV  Chevrolet           Volt                   5
2014          Yuba      PHEV       Ford   C-MAX Energi                   4
2014          Yuba      PHEV       Ford  Fusion Energi                   2
2014          Yuba      PHEV     Toyota     Prius PHEV                   2

[1740 rows x 5 columns]

In [64]:
super_old_zev_sales = zev_sales_csv.loc[[2009,2010],:]
super_old_zev_sales

                 County FUEL_TYPE   MAKE     MODEL  Number of Vehicles
Data Year
2009            Alameda  Electric  Tesla  Roadster                   5
2009       Contra Costa  Electric  Tesla  Roadster                   1
2009           Humboldt  Electric   Ford    Ranger                   1
2009               Kern  Electric  Tesla  Roadster                   1
2009        Los Angeles  Electric   MINI    Cooper                   6
...                 ...       ...    ...       ...                 ...
2010         Santa Cruz  Electric  Tesla  Roadster                   5
2010             Sonoma  Electric   Ford    Ranger                   3
2010             Sonoma  Electric  Tesla  Roadster                   4
2010            Ventura  Electric   MINI    Cooper                  17
2010            Ventura  Electric  Tesla  Roadster                   8

[69 rows x 5 columns]

In [65]:
zev_sales_csv_county = pd.DataFrame(zev_sales_csv.groupby("County")["Number of Vehicles"].sum().sort_values(ascending=False).reset_index().set_index("County"))
print(zev_sales_csv_county.head(5))
print(zev_sales_csv_county.tail(5))

             Number of Vehicles
County
Los Angeles              414287
Orange                   190996
Santa Clara              173458
San Diego                123125
Alameda                  105058
         Number of Vehicles
County
Trinity                  56
Lassen                   45
Alpine                   36
Sierra                   12
Modoc                     7

In [66]:
older_zev_sales_csv_county = pd.DataFrame(older_zev_sales.groupby("County")["Number of Vehicles"].sum().sort_values(ascending=False).reset_index().set_index("County"))
print(older_zev_sales_csv_county.head(5))
print(older_zev_sales_csv_county.tail(5))

             Number of Vehicles
County
Los Angeles              104578
Santa Clara               55302
Orange                    47433
Alameda                   30497
San Diego                 28263
         Number of Vehicles
County
Trinity                  14
Lassen                   10
Alpine                    2
Sierra                    1
Modoc                     1

In [67]:
even_older_zev_sales_csv_county = pd.DataFrame(even_older_zev_sales.groupby("County")["Number of Vehicles"].sum().sort_values(ascending=False).reset_index().set_index("County"))
print(even_older_zev_sales_csv_county.head(5))
print(even_older_zev_sales_csv_county.tail(5))

             Number of Vehicles
County
Los Angeles               32813
Santa Clara               18358
Orange                    14629
Alameda                    9526
San Diego                  9445
        Number of Vehicles
County
Glenn                    4
Mono                     3
Lassen                   2
Sierra                   1
Modoc                    1

In [68]:
super_old_zev_sales_csv_county = pd.DataFrame(super_old_zev_sales.groupby("County")["Number of Vehicles"].sum().sort_values(ascending=False).reset_index().set_index("County"))
print(super_old_zev_sales_csv_county.head(5))
print(super_old_zev_sales_csv_county.tail(5))

             Number of Vehicles
County
Los Angeles                 369
Santa Clara                  95
San Mateo                    50
Orange                       40
Ventura                      32
                 Number of Vehicles
County
San Luis Obispo                   1
Lake                              1
Kern                              1
Stanislaus                        1
Yolo                              1

In [74]:
before_09_zev_sales = zev_sales_csv.loc[(zev_sales_csv.index < 2009),:]
before_09_zev_sales.head()

                   County FUEL_TYPE  MAKE   MODEL  Number of Vehicles
Data Year
1998          Los Angeles  Electric  Ford  Ranger                   1
1998               Orange  Electric  Ford  Ranger                   1
1998       San Bernardino  Electric  Ford  Ranger                   2
1998            San Mateo  Electric  Ford  Ranger                   1
1999        Santa Barbara  Electric  Ford  Ranger                   1

In [79]:
before_09_zev_sales_csv_county = pd.DataFrame(before_09_zev_sales.groupby("County")["Number of Vehicles"].sum().sort_values(ascending=False).reset_index().set_index("County"))
print(before_09_zev_sales_csv_county.head(5))
print(before_09_zev_sales_csv_county.tail(6))

                Number of Vehicles
County
Ventura                         10
Los Angeles                      3
San Bernardino                   3
Santa Barbara                    3
Out Of State                     2
            Number of Vehicles
County
Placer                       2
Napa                         1
Orange                       1
Sacramento                   1
San Mateo                    1
Tulare                       1